.outerContainer {
  width: 100%;
}

.container {
  max-width: 1248px;
  padding: 0 16px;
}

.list {
  display: flex;
  list-style: none;
}

.listWrap {
  flex-wrap: wrap;
}

.listItem {
  /* Prevent text inside from wrapping across multiple lines */
  flex-shrink: 0;
}

.listItem[aria-hidden="true"] {
  display: none;
}

/* Active link */
.listItem:first-of-type .link {
  border-bottom-color: black;
}

.listItem:first-of-type .linkText {
  border-left-color: transparent;
}

.link {
  display: block;
  padding-top: 8px;
  padding-bottom: 6px;
  border-bottom: solid transparent;
}

.linkPrimary {
  border-bottom-width: 4px;
}

.linkPrimary:hover,
.linkPrimary:focus {
  border-bottom-color: black;
}

.linkSecondary {
  border-bottom-width: 1px;
}

.linkSecondary:hover,
.linkSecondary:focus {
  border-bottom-color: white;
}

.linkText {
  padding-right: 12px;
  padding-left: 12px;
}

.linkTextWithBorder {
  border-left: 1px solid;
}

.buttonContainer {
  border-left: 1px solid;
}

.button {
  appearance: none;
  font-family: var(--font-family);
  font-size: 1em;
  border: none;
  border-bottom: 8px solid transparent;
  padding: 8px 8px 2px;
  background-color: transparent;
  cursor: pointer;
}

.button:hover,
.button:focus,
.buttonActive {
  color: white;
  border-bottom-color: black;
  background-color: black;
}

.overflowContainer {
  background-color: black;
  color: white;
}
